<!DOCTYPE html>
<html ng-app="tugtugtugtug">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF8" />
    <title>tugtugtugtug</title>
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <link href='http://fonts.googleapis.com/css?family=Pontano+Sans'
         rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/jquery-ui.css" />
    <script type="text/javascript" src="/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
    <script type="text/javascript" src="/js/tugtugtugtug.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42236453-1', 'tugtugtugtug.com');
      ga('send', 'pageview');
    </script>
</head>
<body ng-controller="MainCtrl">
    <div id="backgroundWrapper" class="tug-background-image">
        <div id="backgroundImage"></div>
        <div id="stripesOverlay"></div>
    </div>
    <div id="mainWrapper">
        <!-- audio player element -->
        <div id="audioPlayer" class="tug-audio-player"></div>

        <!-- current artist info -->
        <div class="currentSongArtist tug-current-song-artist">
            {{currentTrack.artist}}
        </div>
        <div class="shareBox">
            <a href="#" class="facebookShare"
              onclick="
                window.open(
                  'https://www.facebook.com/sharer/sharer.php?u=' +
                    encodeURIComponent('http://backend.tugtugtugtug.com' +
                                       location.pathname + '/fbshare'),
                  'facebook-share-dialog',
                  'width=626,height=436');
                return false;">
            </a>
        </div>

        <!-- current track info -->
        <div class="currentSongBox">
            <div class="currentSongName">{{currentTrack.title}}</div>
            <div id="logoSmall"></div>
        </div>

        <!-- events box -->
        <div class="eventsListBox">
            <a href="#">
                <div>News<span>+</span></div>
            </a>
        </div>

        <!-- prev/next buttons -->
        <a class="prevTrack prevNextButton"
            ng-click="loadPrevTrack()" href="#">◄</a>
        <a class="nextTrack prevNextButton"
             ng-click="loadNextTrack()" href="#">►</a>

        <!-- track controls -->
        <div class="playerControlsBox tug-player-controls-box">
            <a ng-hide="isPlaying" class="controlButton playButton"
                ng-click="playTrack()"  href="#"></a>
            <a ng-show="isPlaying" class="controlButton"
                ng-click="pauseTrack()" href="#"></a>
            <div class="volumeSlider"></div>
            <div class="volumeMax"></div>
        </div>

        <!-- general content-->
        <ng-view></ng-view>
    </div>
</body>
</html>
